<?php
echo "<h2>";
echo $post_content[0]['Category']['name'];
echo "</h2>";

echo "<ul>";
for ($i=0; $i < count($post_content); $i++) {
	echo "<a href='/post/detail/". $post_content[$i]['Post']['id'] ."'/>";
	echo "<li class='cat_list'>";
	echo "<span class='cat_created'>" . $post_content[$i]['Post']['created'] . '</span>'; 
	echo "<span class='cat_title'>" . $post_content[$i]['Post']['title'] . "</span>";
	echo "<span class='cat_answer'>回答数:". count($post_content[$i]['Answer']) . "</span>";	
	echo "<div class='clear' style='clear:both;'></div>";
	echo "</li>";	
}
echo "</ul>";


// echo "<pre>";
// print_r($post_content);
// echo "</pre>";

?>
<span class="link_cat"><a href="../../">カテゴリー一覧に戻る</a></span>
<span class="link_top"><a href="/">トップに戻る</a></span>
