<h3>アンサー完了</h3>

<?php
	  echo "アンサー内容";
	  echo "<div class='answer'>";
	  echo "<span class='answer_created'>";
	  echo $result['Answer']['created'];
	  echo "</span>";
	  echo "<span class='answer_content'>";	  	
	  echo $result['Answer']['content'];
	  echo "</span>";
	  echo "</div>";

	  // echo "<pre>";
	  // print_r($result);
	  // echo "</pre>";

?>

<span class="link_top"><a href="/">トップに戻る</a></span>
<span class="link_q"><a href="../post/detail/<?php echo $result['Answer']['post_id']; ?>">回答した質問を見る</a></span>

