<h3>質問完了</h3>

<?php
	  echo "質問内容";
	  echo "<div class='question'>";
	  echo "<span class='question_created'>";
	  echo $result['Post']['created'];	  	
	  echo "</span>";
	  echo "<span class='question_cat'>";
	  echo $result['Post']['category_id'];
  	  echo "</span>";
	  echo "<span class='question_title'>";	  	
	  echo $result['Post']['title'];
	  echo "</span>";
	  echo "<span class='question_content'>";	  	
	  echo $result['Post']['content'];
	  echo "</span>";
	  echo "</div>";

	  // echo "<pre>";
	  // print_r($result);
	  // echo "</pre>";

?>

<span class="link_top"><a href="/">トップに戻る</a></span>
<span class="link_q"><a href="../post/detail/<?php echo $result['Post']['id']; ?>">回答した質問を見る</a></span>

