<table>

<?php
	echo "<h1>質問</h1>";

	$arr = $post_content[0];
	echo "<div class='post_box'>";
	echo "<ul><li>";
	echo "{$arr['Post']['created']}   　　　　投稿者:<span class='gender_{$arr['User']['gender']}'>" . $arr['User']['nickname'] ."</span>   　　　　回答数:". count($arr['Answer'])."<br />";
	echo "<span class='post_cat_{$arr['Category']['id']} post_cat'>".$arr['Category']['name']."</span>";
	echo "<span class='post_title'>{$arr['Post']['title']}</span><br />";
	echo "<div class='post_content'>{$arr['Post']['content']}</div>";	
	echo "</li></ul>";
	echo "</div>";
	echo "<hr>";
?>

	
</table>

<br />

<?php
	echo "<h1>回答</h1>";

	for($i = 0; $i < count($post_content[0]['Answer']); $i++){
		echo "<div class='answer_box'>";
		echo "<ul><li>";
		echo $answer[$i]['Answer']['created'];
		echo "　　　投稿者:<span class='gender_{$answer[$i]['User']['gender']}'> ";
		echo $answer[$i]['User']['nickname'];
		echo "</span><br />";
		echo "<div class='post_content'>{$answer[$i]['Answer']['content']}</div>";
		echo "</li></ul>";
		echo "</div>";
		// echo "<pre>";
		// print_r($answer);
		// echo "</pre>";
	}
		echo "<hr>";

?>

<br />

<b>回答する</b>

<?php 
echo $this->Form->create(false, array('type'=>'post', 'action'=>'addAnswer','class'=>'form-horizontal'));
echo $this->Form->hidden('Answer.post_id',array('value' => $post_content[0]['Post']['id']));
echo $this->Form->textarea('Answer.content',array('class'=>'form-control','placeholder' => '回答内容'));
echo "<br />";
echo $this->Form->submit('回答する', array('class'=>'btn btn-default'));
echo $this->Form->end();
?>






