<table>

<?php
echo "<h2>検索結果</h2>";

echo "<ul class='search_result'>";

for($i = 0; $i < count($data); $i++){
	$arr = $data[$i]['Post'];
	echo "<a href='/post/detail/". $arr['id'] ."'>";	
	echo "<li>";
	echo "{$arr['created']}　";
	echo "<span class='post_cat_" . $arr['category_id'] . " post_cat'>";
	echo "{$data[$i]['Category']['name']}";
	echo "</span>";
	// echo "{$arr['user_id']}";
	echo "<span class='search_result_title'>". $arr['title'] . "</span>";
	// echo "{$arr['content']}";	
	echo "</li>";
	echo "</a>";
}
echo "</ul>";

// echo "<pre>";
// print_r($data);
// echo "</pre>";

?>

</table>