<!DOCTYPE html>
<html lang="en">
  <head>
    <?php echo $this->Html->charset(); ?>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">
    <!-- <title><?php echo $title_for_layout; ?></title> -->
    <title>バンコク情報おまとめサイトAraina.com</title>

    <?php
      echo $this->Html->css('cake.bootstrap');
      echo $this->Html->css('bootstrap-theme');
      // echo $scripts_for_layout;
    ?>
    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><?php echo $this->Html->image("logo.png"); ?></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">ホーム</a></li>
            <li><a href="pages/about">About</a></li>
            <li><a href="category/">カテゴリー</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <?php 
                echo $this->Form->create(false, array('type'=>'post', 'action'=>'search'));
                echo $this->Form->text('Post.content',array('class'=>'form-control','placeholder' => '検索'));
                // echo $this->Form->submit('検索');
                echo $this->Form->end();
              ?>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

      <div class="jumbotron">
         <h1>タイの情報QAサイト「アライナ.com」</h1>
         <p>おいしいラーメン屋からクーデターまで。タイに関する事ならなんでもok! 質問サイトです。</p>
         <p>
          <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">アライナ.comとは &raquo;</a>
        </p>
      </div>


      <?php echo $content_for_layout; ?>

    </div> <!-- /container -->

 <div id="footer">
      <div class="container">
        <p class="text-muted">Place sticky footer content here.</p>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <? echo $this->Html->script('bootstrap'); ?>
   

  </body>
</html>
