<div class="container">
<h2>About</h2>

<div class="about_img">
<?php echo $this->Html->image('thai.jpg'); ?>
</div>

Araina.comにようこそ。
このサービスはバンコク在住の日本人のためのQ&Aサイトです。

『安いスーパーってどこにあるの？』『携帯って月額いくらなんだろう。』
そんな身近な疑問を、Googleで調べても、なかなか情報が出てこない。
海外在住の方なら、きっと一度は経験した事があると思います。

そんな悩み答えるのがこのAraina.comです。
バンコク在住の日本人のためのサイトなので、質問は日本語でOK! 

また回答された質問は、カテゴリーとしてまとまって、
辞書的に見る事も出来ます。

さぁあなたもどんどん質問をして、日頃の悩みを解決しましょう！


Araina.com
</div>
